#dialogBox {
    width: 340px;
    background: white;
    height: 290px;
    padding: .5em 2.5em;
    box-shadow: 6px 5px 5px #8b8b8b, 3px 3px 4px #888888;
    border-radius: 3px;
    position: absolute;
    color: #ccc;
    left: 20%;
    top: 10%;
    display: none;
}

.body {
    background: #abadad54;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: none;
    padding: 0 auto;
    margin: 0 auto;
}

span {
    font-size: 12px !important;
    color: #000;
}

#ex_section {
    position: absolute;
    top: 1em;
    right: 1.5em;
    text-transform: lowercase;
    color: #000;
    font-weight: bold;
    padding: .1em .6em;
    cursor: pointer;
    /* background: radial-gradient(#f0f0f0,#f1f1f1); */
}

@media screen {
    #dialogBox {
        left: 30%;
        top: 15%;
    }
}

.nameWI {
    font-weight: bold;
    font-size: 15px !important;
}